{% extends 'base.html' %}

{% block header %}
   <div> <!-- middle igame and search sections-->
      <div class = "event-title">
         <div class = "text-block">
            <h1>Looking for an amazing music experience?</h1>
         </div>
      </div>
   </div>

   <main class="container">
      <div>
         <div class = "container search-area">
            <h3 class = "text-center">Specify your Event?</h3>
            <form class = "row g-1 needs-validation search-sections" novalidate>
               <div class = "search-section">
                  <label>Music Type</label>
                  <div class="input-group ">
                     <select class="form-select form-select-sm" 
                        id="inputTpeSelect" 
                        aria-label="Example select with button addon">
                     <option selected>Choose...</option>
                     <option value="1">DANCE</option>
                     <option value="2">JAZZ</option>
                     <option value="3">POP</option>
                     <option value="4">REGGAE</option>
                     <option value="5">ROCK</option>
                     <option value="6">CLASSIC</option>
                     <option value="7">OTHER</option>
                     </select>
                     <button class="btn btn-outline-secondary" 
                        type="button">Search</button>
                  </div>
               </div>

               <div class = "search-section">
                  <label>Event Status</label>
                  <div class="input-group ">
                     <select class="form-select form-select-sm" 
                        id="inputTpeSelect" 
                        aria-label="Example select with button addon">
                     <option selected>Choose...</option>
                     <option value="1">UPCOMING</option>
                     <option value="2">CANCELLED</option>
                     <option value="3">BOOKED</option>
                     <option value="4">INACTIVE</option>
                     </select>
                     <button class="btn btn-outline-secondary" 
                        type="button">Search</button>
                  </div>
               </div>

               <div class = "search-section">
                  <label>Date</label>
                  <div class="input-group">
                     <input 
                        class = "input-group-md"
                        type="date" 
                        id="inputDateSelect" 
                        name="eventDate" 
                        value=" " 
                        min="2023-01-01" 
                        max="2023-12-31">
                     <button class="btn btn-outline-secondary" 
                        type="button">Search</button>
                  </div>
               </div>
               
               <div class = "search-section">
                  <label>State</label>
                  <div class="input-group">
                     <select class="form-select form-select-sm" 
                        id="inputStateSeclect">
                     <option selected>Choose...</option>
                     <option value="Queensland">Queensland</option>
                     <option value="New South Wales">New South Wales</option>
                     <option value="Tasmania">Tasmania</option>
                     <option value="Victoria">Victoria</option>
                     <option value="Western Australia">Western Australia</option>
                     <option value="South Australia">South Australia</option>
                     </select>
                     <button class="btn btn-outline-secondary" 
                        type="button">Search</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
{% endblock %}

{% block content %}  
      <div> <!-- upcoming events section -->
         <div class = "upcoming-title container-fluid">
            <h3 class = "text-center">Upcoming Events</h3>
         </div>
         <div class = "event-list3 container">
            <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

               <div class = "col">
                  <div class = "card3">
                     <img src = "event1.jpg" alt = "Event Image 1">
                     <span class = "badge rounded-pill text-bg-danger">Sold Out</span>
                     <div class = "card-body card-body3">
                        <div>
                           <h5>Brisbane EDM Festival</h5>
                           <article class = "row">
                              <h9 class = "card-subtitle card-subtitle3 mb-2 text-muted">@Brisbane, QLD</h9>
                              <h9 class = "card-subtitle card-subtitle3 mb-2 text-muted">September 29th, 2022 7pm</h9>
                              <h9 class = "card-subtitle card-subtitle3 mb-2 text-muted">AU$80</h9>
                           </article>
                        </div>
                        <a href = "#"
                           class = "btn btn-outline-secondary"
                           tabindex="-1"
                           role = "button"
                           aria-disabled="true">View</a>
                     </div>
                     <div class = "card-footer text-muted text-center">
                        3 days ago
                     </div>
                  </div>
               </div>

               {% for event in events %}
               <div class = "col">
                  <div class = "card card3">
                     <img src = "{{event.image}}" alt = "Event Image">
                     <span class = "badge rounded-pill text-bg-success">{{event.event_status}}</span>
                     <div class = "card-body card-body3">
                        <div>
                           <h5>{{event.title}}</h5> <!-- event name -->
                           <article class = "row">
                              <h9 class = "card-subtitle card-subtitle3 mb-2 text-muted">@{{event.event_state}}</h9>
                              <h9 class = "card-subtitle card-subtitle3 mb-2 text-muted">{{event.date}}</h9>
                              <h9 class = "card-subtitle card-subtitle3 mb-2 text-muted">{{event.price}}</h9>
                           </article>
                        </div>
                        <a href = "{{url_for('event.show', id=event.id)}}"
                           class = "btn btn-outline-secondary"
                           tabindex="-1"
                           role = "button"
                           aria-disabled="true">View</a>
                     </div>
                     <div class = "card-footer text-muted text-center">
                        {{event.created_on}}
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
{% endblock %}

