 <!DOCTYPE html>

 <html lang="en">
 
 <head>  
      <meta charset="utf-8"> 
      <meta name="description" content="Music Event App">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" 
         integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      <link href="css/homeLanding.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

      <title>Music Event App</title>
 </head>
 
 <body>
   <div class = "text-center">
      <nav class = "border-bottom navbar bg-light"> <!-- top bar menu-->
         <div class = "item-bar container-fluid align-items-center">

         <!-- icon menu -->
            <div class = "col-4">
               <button class="navbar-toggler" 
                  type="button" 
                  data-bs-toggle="collapse" 
                  data-bs-target="#navbarToggle" 
                  aria-controls="navbarToggle" 
                  aria-expanded="false" 
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>
            </div>
            
            <!-- Logo -->
            <div class = "LOGO container-fluid col-4">
               <a class = "navbar-brand" 
               href="#">
               KANONTicket</a>
            </div>

            <!-- account sign up/in buttons -->
            <form class = "container-fluid justify-content-end col-4">
               <button class = "btn btn-outline-success me-2" 
                     type = "button">LOGIN</button>
               <button class = "btn btn-outline-success me-2" 
                     type = "button">SIGNUP</button>
            </form>
            
            <div class="collapse navbar-collapse" id="navbarToggle">
               <ul class = "navbar-nav text-small show">
                  <!-- navigation menus -->
                  <li class="nav-item">
                     <a class="dropdown-item" 
                        aria-current="page" 
                        href = "#">Home</a>
                  </li>
                  <li>
                     <a class="dropdown-item" 
                        aria-current="page" 
                        href = "#">
                        Event Details</a>
                  </li>
                  <li>
                     <a class="dropdown-item" 
                        aria-current="page" 
                        href = "#">
                        Event Creation</a>
                  </li>
                  <li>
                     <a class="dropdown-item" 
                        aria-current="page" 
                        href = "#">
                        Booking History</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
   </div>

   <div> <!-- middle igame and search sections-->
      <div class = "event-title">
         <div class = "text-block">
            <h1>Looking for an amazing music experience?</h1>
         </div>
      </div>
   </div>
   <main class="container">
      <div>
         <div class = "container search-area">
            <h3 class = "text-center">Specify your Event?</h3>
            <form class = "row g-1 needs-validation search-sections" novalidate>
               <div class = "search-section">
                  <label>Music Type</label>
                  <div class="input-group ">
                     <select class="form-select form-select-sm" 
                        id="inputTpeSelect" 
                        aria-label="Example select with button addon">
                     <option selected>Choose...</option>
                     <option value="1">Classical</option>
                     <option value="2">Jazz</option>
                     <option value="3">Pop</option>
                     <option value="4">Hip Hop</option>
                     <option value="5">Country</option>
                     <option value="6">Indie</option>
                     <option value="7">Rock</option>
                     <option value="8">EDM</option>
                     <option value="9">Techno</option>
                     <option value="10">House</option>
                     <option value="11">R&B</option>
                     <option value="12">else</option>
                     </select>
                     <button class="btn btn-outline-secondary" 
                        type="button">Search</button>
                  </div>
               </div>

               <div class = "search-section">
                  <label>Date</label>
                  <div class="input-group">
                     <input 
                        class = "input-group-md"
                        type="date" 
                        id="inputDateSelect" 
                        name="eventDate" 
                        value=" " 
                        min="2023-01-01" 
                        max="2023-12-31">
                     <button class="btn btn-outline-secondary" 
                        type="button">Search</button>
                  </div>
               </div>
               
               <div class = "search-section">
                  <label>State</label>
                  <div class="input-group">
                     <select class="form-select form-select-sm" 
                        id="inputStateSeclect">
                     <option selected>Choose...</option>
                     <option value="Queensland">Queensland</option>
                     <option value="New South Wales">New South Wales</option>
                     <option value="Tasmania">Tasmania</option>
                     <option value="Victoria">Victoria</option>
                     <option value="Western Australia">Western Australia</option>
                     <option value="South Australia">South Australia</option>
                     </select>
                     <button class="btn btn-outline-secondary" 
                        type="button">Search</button>
                  </div>
               </div>
            </form>
         </div>
      </div>

      <div> <!-- upcoming events section -->
         <div class = "upcoming-title container-fluid">
            <h3 class = "text-center">Upcoming Events</h3>
         </div>
         <div class = "event-list container">
            <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
               
               <div class = "col">
                  <div class = "card">
                     <img src = "Ass3_skelton/website/static/images/event1.jpg" alt = "Event Image 1">
                     <span class = "badge rounded-pill text-bg-success">Open</span>
                     <div class = "card-body">
                        <div>
                           <h5>Mid-Semester Break Bowl</h5>
                           <article class = "row">
                              <h9 class = "card-subtitle mb-2 text-muted">@Brisbane, QLD</h9>
                              <h9 class = "card-subtitle mb-2 text-muted">September 29th, 2022 7pm</h9>
                              <h9 class = "card-subtitle mb-2 text-muted">AU$80</h9>
                           </article>
                        </div>
                        <a href = "#"
                           class = "btn btn-outline-secondary"
                           tabindex="-1"
                           role = "button"
                           aria-disabled="true">View</a>
                     </div>
                     <div class = "card-footer text-muted text-center">
                        2 days ago
                     </div>
                  </div>
               </div>

               <div class = "col">
                  <div class = "card">
                     <img src = "Ass3_skelton/website/static/images/event2.jpg" alt = "Event Image 2">
                     <span class = "badge rounded-pill text-bg-danger">Sold Out</span>
                     <div class = "card-body">
                        <div>
                           <h5>Brisbane EDM Festival</h5>
                           <article class = "row">
                              <h9 class = "card-subtitle mb-2 text-muted">@Brisbane, QLD</h9>
                              <h9 class = "card-subtitle mb-2 text-muted">September 29th, 2022 7pm</h9>
                              <h9 class = "card-subtitle mb-2 text-muted">AU$80</h9>
                           </article>
                        </div>
                        <a href = "#"
                           class = "btn btn-outline-secondary"
                           tabindex="-1"
                           role = "button"
                           aria-disabled="true">View</a>
                     </div>
                     <div class = "card-footer text-muted text-center">
                        3 days ago
                     </div>
                  </div>
               </div>
               
               <div class = "col">
                  <div class = "card">
                     <img src = "#" alt = "Event Image 3">
                     <span class = "badge rounded-pill text-bg-danger">Sold Out</span>
                     <div class = "card-body">
                        <div>
                           <h5>Dj Boring Australia Tour</h5>
                           <article class = "row">
                              <h9 class = "card-subtitle mb-2 text-muted">@Gold Coast, QLD</h9>
                              <h9 class = "card-subtitle mb-2 text-muted">September 30th, 2022 3pm</h9>
                              <h9 class = "card-subtitle mb-2 text-muted">AU$100</h9>
                           </article>
                        </div>
                        <a href = "#"
                           class = "btn btn-outline-secondary"
                           tabindex="-1"
                           role = "button"
                           aria-disabled="true">View</a>
                     </div>
                     <div class = "card-footer text-muted text-center">
                        3 days ago
                     </div>
                  </div>
               </div>
               
               <div class = "col">
                  <div class = "card">
                     <img src = "Ass3_skelton/website/static/images/event4.jpg" alt = "Event Image 4">
                     <span class = "badge rounded-pill text-bg-secondary">Cancelled</span>
                     <div class = "card-body">
                        <div>
                           <h5>October Indie Rave</h5>
                           <article class = "row">
                              <h9 class = "card-subtitle mb-2 text-muted">@Gold Coast, QLD</h9>
                              <h9 class = "card-subtitle mb-2 text-muted">October 4th, 2022 8pm</h9>
                              <h9 class = "card-subtitle mb-2 text-muted">AU$75</h9>
                           </article>
                        </div>
                        <a href = "#"
                           class = "btn btn-outline-secondary"
                           tabindex="-1"
                           role = "button"
                           aria-disabled="true">View</a>
                     </div>
                     <div class = "card-footer text-muted text-center">
                        5 days ago
                     </div>
                  </div>
               </div>

               <div class = "col">
                  <div class = "card">
                     <img src = "Ass3_skelton/website/static/images/event5.jpg" alt = "Event Image 5">
                     <span class = "badge rounded-pill text-bg-warning">Inactive</span>
                     <div class = "card-body">
                        <div>
                           <h5>Rock 2022</h5>
                           <article class = "row">
                              <h9 class = "card-subtitle mb-2 text-muted">@Sydney, NSW</h9>
                              <h9 class = "card-subtitle mb-2 text-muted">October 5th, 2022 5pm</h9>
                              <h9 class = "card-subtitle mb-2 text-muted">AU$80</h9>
                           </article>
                        </div>
                        <a href = "#"
                           class = "btn btn-outline-secondary"
                           tabindex="-1"
                           role = "button"
                           aria-disabled="true">View</a>
                     </div>
                     <div class = "card-footer text-muted text-center">
                        5 days ago
                     </div>
                  </div>
               </div>
               
               <div class = "col">
                  <div class = "card">
                     <img src = "Ass3_skelton/website/static/images/event6.jpg" alt = "Event Image 6">
                     <span class = "badge rounded-pill text-bg-success">Open</span>
                     <div class = "card-body">
                        <div>
                           <h5>Acoustic in Sydney</h5>
                           <article class = "row">
                              <h9 class = "card-subtitle mb-2 text-muted">@Sydney, NSW</h9>
                              <h9 class = "card-subtitle mb-2 text-muted">October 7th, 2022 8pm</h9>
                              <h9 class = "card-subtitle mb-2 text-muted">AU$50</h9>
                           </article>
                        </div>
                        <a href = "#"
                           class = "btn btn-outline-secondary"
                           tabindex="-1"
                           role = "button"
                           aria-disabled="true">View</a>
                     </div>
                     <div class = "card-footer text-muted text-center">
                        7 days ago
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </main>

   <!-- Footer of the website -->
   <footer class = "container">
      <div class = "text-end">
          <p>Copyright &copy; 2022</p>
      </div>
  </footer>

 </body>
 </html>