{% extends 'base.html' %}
{% import "bootstrap/form.html" as wtf %}
{% block content %}

<!-- Setting up the upcoming events-->
<main class = "main2">
    <section>
        <div class = "event-detail"> 
            <div class = "eventList-heading text-center">
                <h1>Event Details</h1>
            </div>
            <div class = "event-img text-center">
                <img src = "{{event.image}}" 
                     class = "eventImage ratio ratio-21x9 rounded w-75"
                     alt = "Event Image">
            </div>
        </div>

        <article class = "detail-container">
            <div class = "detail-text">
                <h3>{{event.title}}</h3>
                <dl class = "row">
                    <dt class="col-sm-3">Date</dt>
                    <dd class="col-sm-9">{{event.date.strftime('%d/%m/%y %I:%M%p')}} </dd>

                    <dt class="col-sm-3">Location</dt>
                    <dd class="col-sm-9">{{event.place}}, {{event.event_state.name.title()}}</dd>

                    <dt class="col-sm-3">Music Genre</dt>
                    <dd class="col-sm-9">{{event.event_genre.name.title()}}</dd>

                    <dt class="col-sm-3">Price</dt>
                    <dd class="col-sm-9">{{"$%.2f"|format(event.price)}} ea.</dd>

                    <dt class="col-sm-3">Description</dt>
                    <dd class="col-sm-9">{{event.description}}</dd>
                </dl>
            </div>

            <div class = "modal-button">
                <button id="book-button" type="button" class="btn btn-outline-secondary col-3" 
                    data-bs-toggle="modal" data-bs-target="#bookingModal">BOOK</button>
            </div>
            
        </article>
            
      
        <div class="modal fade modal-section" 
                id="bookingModal" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="bookingModalLabel" 
                aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class = "modal-container">
                        <div class="modal-header">
                            <h5 class="modal-title" id="bookingModalLabel">Ticket Booking</h5>
                            <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <p>Input the desired number of tickets you want to buy.</p>
                            
                            <p><strong>Date:</strong> {{event.date.strftime('%d/%m/%y %I:%M%p')}}</p>
                            <p><strong>Location:</strong> {{event.place}}, {{event.event_state.name.title()}}</p>
                            <p><strong>Cost per ticket:</strong> {{"$%.2f"|format(event.price)}}</p>
                            <div class='row'>
                                {% if event.tickets_remaining == 0 %}
                                <div class='col-6'>
                                    <h2><strong>{{"$%.2f"|format(event.price)}}</strong> ea.</h2>
                                    <p style="color:red"><strong>Sorry, sold out!</strong></p>
                                </div>
                                {% elif event.event_status.name == 'UNPUBLISHED' or event.event_status.name == 'CANCELLED' %}
                                <div class='col-6'>
                                    <h2><strong>{{"$%.2f"|format(event.price)}}</strong> ea.</h2>
                                </div>
                                {% else %}
                                {% if event.tickets_remaining <= 100 and event.tickets_remaining> 0 %}
                                    <div class='row'>
                                        <p><strong>Tickets remaining:</strong> {{event.tickets_remaining}}</p>
                                    </div>
                                    {% endif %}
                                    
                                {% endif %}
                            </div>
                            {{wtf.render_form(booking_form, "/event/{0}/book".format(event.id))}}
                        </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        


        
        <section>
            <div class = "adding-comment-section">
                <div class="card card2">
                    <div class="card-body card-body2 p-4">
                        <div class="d-flex flex-start align-items-center">
                            <img class = "avatar-user rounded-circle shadow-1-strong me-3 flex-shrink-0"
                                    src = "Ass3_skelton/website/static/images/user3.jpg" alt = "User1's Icon Image">
                        </div>
                        <div class="col">
                            {{wtf.render_form(form,"/event/{0}/comment".format(event.id))}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section>
            <br>
            <div class = "comment-section">
                <h3 class = "container-fluid text-start">Comments</h3>
                {% for comment in event.comments %}
                <div class = "card card2">
                    <div class ="card-body card-body2 p-4">
                        <div class = "d-flex flex-start w-100 align-items-center">
                            <img class = "avatar rounded-circle shadow-1-strong me-3 flex-shrink-0"
                                    src = "/website/static/images/event1.jpg" 
                                    alt = "User2's Icon Image">
                            <h6 class = "card-title card-title2 col flex-grow-1">{{comment.user.name}}</h6>
                        </div>
                        <p class = "card-text card-text2">{{comment.text}}</p>
                        <time class="card-subtitle card-subtitle2 mb-2 text-muted">{{comment.created_at.strftime('%d/%m/%y %I:%M%p')}}</time>
                    </div>
                </div>
                <br>
                {% endfor %}

                
            </div>
        </section>
    </section>
</main>
{% endblock %}
