 /* event creation */

/*  main1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 */


 /*****************************for user.html *************************/
 .register-container{
    margin: 1rem;
    justify-content: center;
 }

 .register-items{
    margin-top: 1rem;
    margin-bottom: 2rem;
 }

/*****************************for base.html *************************/
.item-bar{
    justify-content: space-between;
}

 /*****************************for index.html *************************/
 /******** title text over the image ********/
.event-title {
    position: relative;
    text-align: center;
    background-image: url("/static/images/Home.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: floralwhite;
}

.search-area {
    margin: 2rem 0rem;
}

.search-sections {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.search-section {
    width: auto;
    margin: 0rem 1rem;
}

.search-section input {
    padding: 0rem 1rem;
}


/******** CARD GRID ********/
.upcoming-title {
    margin-top: 3rem;
}

/* .card3 {
    position: relative;
} */

.card3 img {
    object-fit: cover;
    height: 15rem;
    position: relative;
}

@media screen and (max-width: 992px) {
    .card3 img {
        object-fit: cover;
        height: 10rem;
        position: relative;
    }
}

.card3 span {
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
    /* top: 0;
    left: 0; */
}

@media screen and (max-width: 992px) {
    .card3 span {
        position: absolute;
        margin-top: 1rem;
        margin-left: 1rem;
    }
}

.card-body3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body3 h5 {
    margin: 1rem 0rem;
}

/* .event-list3 {
    margin: 2rem 0rem;
} */


/*****************************for create_event.html *************************/
/*
.event-list-heading{
    margin: 1rem 0rem;
}

@media screen and (max-width: 992px) {
    .creating-options {
        width: 100%;
    }
}

.question {
    margin-top: 1rem;
    min-width: 20rem;
}

.text-end1 {
    margin-top: 1rem;
}

.user-info {
    margin: 1.5rem 5rem;
}

.account-info-title {
    margin: 1rem 3rem;
}

 */


/*****************************for event_setails.html *************************/
/*
.main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main2 > section {
    width: 70%;
}

@media screen and (max-width: 992px) {
    .main2 > section {
        width: 100%;
    }
}

.event-detail {
    margin-top: 1rem;
}

.event-img {
    margin: 2rem 0rem;
}

.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0rem;
}

.detail-container div {
    width: 70%;
}

.adding-comment-section {
    margin: 2rem 2rem;
}

.card-text2 {
    margin-top: 1rem;
}

.avatar {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.avatar-user {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.card2 {
    margin: 1rem;
}

.card-body2 {
    margin-top: 1rem;
}

.adding-comment {
    margin-top: 0.5rem;
}

.text-end2 {
    margin-top: 0.5rem;
}

.comment-section {
    margin: 2rem 2rem;
}

.modal-button {
    display: flex;
    justify-content: end;
}

.input-group {
    margin: 1rem 0rem;
}
*/