main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section {
    width: 70%;
}

@media screen and (max-width: 992px) {
    main > section {
        width: 100%;
    }
}

.event-detail {
    margin-top: 1rem;
}

.event-img {
    margin: 2rem 0rem;
}

.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0rem;
}

.detail-container div {
    width: 70%;
}

.adding-comment-section {
    margin: 2rem 2rem;
}

.card-text {
    margin-top: 1rem;
}

.avatar {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.avatar-user {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
}

.card {
    margin: 1rem;
}

.card-body {
    margin-top: 1rem;
}

.adding-comment {
    margin-top: 0.5rem;
}

.text-end {
    margin-top: 0.5rem;
}

.comment-section {
    margin: 2rem 2rem;
}

.modal-button {
    display: flex;
    justify-content: end;
}

.input-group {
    margin: 1rem 0rem;
}
