main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    margin: 1rem 0rem;
}

.event-list-heading{
    margin: 1rem 0rem;
}

@media screen and (max-width: 992px) {
    .creating-options {
        width: 100%;
    }
}

.question {
    margin-top: 1rem;
    min-width: 20rem;
}

.text-end {
    margin-top: 1rem;
}

.user-info {
    margin: 1.5rem 5rem;
}

.account-info-title {
    margin: 1rem 3rem;
}