
.item-bar{
    justify-content: space-between;
}

/******** title text over the image ********/
.event-title {
    position: relative;
    text-align: center;
    background-image: url("../images/Home.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: floralwhite;
}

.search-area {
    margin: 2rem 0rem;
}

.search-sections {
    margin: 2rem;
    display: flex;
    justify-content: center;
}

.search-section {
    width: auto;
    margin: 0rem 1rem;
}

.search-section input {
    padding: 0rem 1rem;
}

/******** CARD GRID ********/
.upcoming-title {
    margin-top: 3rem;
}

.card img {
    object-fit: cover;
    height: 15rem;
    position: relative;
}

@media screen and (max-width: 992px) {
    .card img {
        object-fit: cover;
        height: 10rem;
        position: relative;
    }
}

.card span {
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
}

@media screen and (max-width: 992px) {
    .card span {
        position: absolute;
        margin-top: 1rem;
        margin-left: 1rem;
    }
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body h5 {
    margin: 1rem 0rem;
}

.event-list {
    margin: 2rem 0rem;
}